<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hobbysky</title>
    <link th:href="@{/styles/cssandjs/Profile.css}" rel="stylesheet" />
    <link th:href="@{/styles/cssandjs/styles.css}" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Karma' rel='stylesheet'>
</head>
<body>
<div class="container">
    <header>
        <div class="header-content">
            <img th:src="@{/img/HS (3).png}" alt="" style="width:3%; height:3%;">
            <nav>
                <a th:href="@{/HomePage}">Platform</a>
                <a th:href="@{/Events}">Events</a>
                <a href="#">Pricing</a>
            </nav>
            <a th:href="@{/Register}" style="margin-left: 75%; margin-right: 1%; color: black; text-decoration: none;">Join us</a>
            <div class="dropdown">
                <a href="#" class="dropbtn" style="text-decoration: none; color: black;">
                    <img th:src="@{/img/4.png}" alt="" style="width:20px; height:20px;">
                </a>
                <div class="dropdown-content">
                    <a th:href="@{/Profile}">Profile</a>
                    <a th:href="@{/Settings}">Settings</a>
                    <a th:href="@{/LogOut}">Log out</a>
                </div>
            </div>
        </div>
    </header>
    <main>
        <section class="profile-banner">
            <img th:src="@{/img/13.jpg}" class="blur" alt="Banner Image">
            <div class="profile-info">
                <div class="profile-picture">
                    <img id="profile-avatar" th:src="@{/img/13.jpg}" style="margin-top: -30px;" alt="Profile Picture" onclick="triggerAvatarUpload()">
                    <input type="file" id="avatar-upload" accept="image/*" onchange="updateAvatar()" style="display:none;">
                </div>
                <div class="profile-details">
                    <h1 id="artist-name" style="margin-left: 380px;" th:text="${user.firstName} + ' ' + ${user.lastName}"></h1>
                </div>
            </div>
        </section>
        <div class="profile-details">
            <button class="share-btn" style="margin-left: 400px; margin-top: 20px;">SHARE PROFILE</button>
<!--            <button class="edit-profile-btn" style="margin-left: 4px;" onclick="openEditProfile()">EDIT PROFILE</button>-->
            <button class="share-btn" style="margin-left: 4px;" onclick="location.href='/AddEvent'">ADD EVENT</button>
        </div>
        <section class="profile-content">
            <div class="profile-sidebar">
                <h2>Hobbies</h2>
                <div style="margin-left: 380px;" th:each="hobby : ${user.hobbies}" th:text="${hobby.name}"></div>
                <div class="profile-stats">
                    <!-- <p><strong>Attended events</strong><br th:text="${user.events}">299</p> -->
                    <!-- <p><strong>Joined </strong><br th:text="${user.following}">20</p> -->
                    <!-- <p><strong>Songs</strong><br th:text="${user.songs}">05</p> -->
                </div>
            </div>
        </section>
        <div id="edit-profile-modal" class="modal">
            <div class="modal-content">
                <span class="close-btn" onclick="closeEditProfile()">&times;</span>
                <h2>Edit Profile</h2>
                <form id="edit-profile-form" onsubmit="return validateForm()">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" required>

                    <label for="location">Location:</label>
                    <input type="text" id="location" name="location" required>

                    <label for="bio">Bio:</label>
                    <textarea id="bio" name="bio" rows="4" required></textarea>

                    <button type="submit">Save Changes</button>
                </form>
            </div>
        </div>
    </main>
    <script src="../static/js/cssandjs/scripts.js"></script>
    <footer style="margin-top: 250px;">
        <p>© 2024 Hobbysky, all rights reserved</p>
    </footer>
</div>
</body>
</html>
